<table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sentence</th>
        <th scope="col">Racism Score</th>
        <th scope="col">Sexism Score</th>
        <th scope="col">Good Score</th>
        <th scope="col">Final Classification</th>
      </tr>
    </thead>
    <tbody>
    {% for sentence in SentenceAnalysis %}
    {%if sentence["Final Classification"] == "sexist" or sentence["Final Classification"] == "racist" %}
        <tr style="background-color: lightcoral;">
    {% elif sentence["Final Classification"] == "non-racist/sexist" %}
        <tr style="background-color: lightgreen;">
    {% else %}
        <tr style="background-color: white;">
    {% endif %}
        <th scope="row">{{sentence["id"]}}</th>
        <td>{{sentence["Sentence"]}}</td>
        <td>{{sentence["Racism"]}} %</td>
        <td>{{sentence["Sexism"]}} %</td>
        <td>{{sentence["Good"]}} %</td>
        <td>{{sentence["Final Classification"]}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>